@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, hr{
    margin: 20px 0;
}

h1, h2{
    text-align: center;
}

h1, h2, h3 {
    color: #08092d;
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: red;
    width: 100vw;
    min-height: 100vh;
    background-color: black; 
}

main {
    width: 95vw;
    margin: 0rem 2rem 0rem 2rem;
    background: linear-gradient(to right, #314338 50%, #92885a 50%);    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 0;
}

article {
    width: 100%;
    max-width: 900px;
    padding: 30px 50px;
    border-left: 2px solid #08092d;
    border-right: 2px solid #08092d;
    background-color: white;
}

.by{
    display: flex;
    align-items: center;
    gap: 30px;
}

.link{
  display: flex;
  align-items: center;
  gap: 20px;
}

.link > div > a{
    color: #08092d;
    text-decoration: none;
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    border: 2px solid #08092d;
}

.link > div > a > img {
    height: 20px;
}

.link > div > a:hover{
    background-color: #90d285;
}

.image-div{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.image-div > img {
    width: 100%;
}

.soft-hr {
    color: white;
    border-color: white;
}

.sample{
    font-size: 0.9rem;
    background-color: #08092d;
    color: white;
    border-radius: 10px;
    padding: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    white-space: pre-wrap; 
}
